*{
    margin: 0px;
    padding: 0px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    margin-top: 3%;
}
header{
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
    column-gap: 1px;
    background-color: rgba(181, 181, 181, 0.791);
    position: fixed;
    top: 0px;
    z-index: 2;
    
}
header p{
    text-align: center;
    font-size: 25px;
    margin-top: 32px;
}
.conteiner6{
    height: 30vh;
    width: 100%;
    display: flex;
    background-color: rgb(201, 201, 201);
    justify-content: space-between;
}
.text3{

    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.logo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}
.text3 p {
    font-size: 18px;
}

.button2{
    width: 40%;
    height: 20%;
    background-color: rgba(246, 246, 246, 0.982);
    border: 1px;
    border-radius: 15px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button2 p{
    text-align: center;
    font-size: 20px;
    margin-top: 7px;

}
.y{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15%;
}
.button3{
    width: 40%;
    height: 20%;
    background-color: rgba(246, 246, 246, 0.982);
    border: 1px;
    border-radius: 15px;
    margin-top: 60px;
}
.button3 p{
    text-align: center;
    font-size: 20px;
    margin-top: 7px;
}
a:link{
    text-decoration: none;
}
.conteiner{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-between;    
}
.text4{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text4 ul li{
    font-size: 26px;
}
.pic{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic img{
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}